.house{
 margin-top: 5px;
 padding: 5px;
background-color: red;
};

// .button{ 
//    float: right;
// };

.card-main{
   display: flex !important;
   flex-direction: row;
}

.card-box{
   max-width: 300px !important;
   height: 300px !important;
   margin: 10px;
}


