  
    .header{ 
       background:#00d1b2;
       padding: 50px;
       margin: 10px;
       border-radius: 10px; 

    }  
    .welcome{
     font-family: 'Lucida Grande'; 
     color: rgb(105, 71, 255);

    }

    .button{
      float: right;

    }

